@import url('https://fonts.googleapis.com/css?family=Vollkorn');

*{
	font-family: 'Vollkorn', serif;
}

body{
	margin: 0;
	padding: 0;
}

#head{
	margin: 0;
	padding: 0;
}

#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: fixed;
}

#head{
	color: #fff;
}

#logo{
	margin: 0;
	padding: 0;
}

.in-logo{
	width: 200px;
	margin: auto;
}



#logo{
	background: rgba(0,0,0,0.4);
	font-size: 30px;
	transition: all 0.5s ;
	width: 100%;
}

#logo:hover{
	font-size: 35px;
	transition: all 0.5s ;
	margin: auto;
	width: 100%;
}

.title> h1{
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 100px;
	margin-top: 200px;
	width: 720px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

.title h1 a{
	text-decoration: none;
	color: #fff;
}

.title>h1>a{
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 100px;
	margin-top: 200px;
	width: 720px;
	margin: auto;
}

.title h2{
	width: 1135px;
	margin: auto;
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 25px;
}

#content{
	margin: 0;
	padding: 0;
}

#about{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(img/business-2998905_1920.png);
	padding-bottom: 500px;
	background-size: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
}


#about h2{
	width: 272px;
	margin: auto;
	font-size: 50px;
	margin-top: 50px;
}

#about h1{
	width: 410px;
	margin: auto;
	font-size: 100px;
	margin-top: 10px;
	text-transform: uppercase;
	margin-bottom: 40px;
	border-radius: 20px;
	background: #5A453A;
	padding: 20px;
	color: #fff;
}

#about div {
	color: #000;
	font-size: 25px;
	margin: auto;
	font-family: 'Vollkorn', serif;
}

.c1{
	width:715px;
	margin: auto; 
}

.c2{
	width:405px;
	margin: auto; 
}

.c3{
	width:280px;
	margin: auto; 
}


@media screen and (min-width:768px) and (max-width:1024px) {
  .title h2{
	width: 680px;
	margin: auto;
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 15px;
}

#about h1{
	width: 410px;
	margin: auto;
	font-size: 100px;
	margin-top: 10px;
	text-transform: uppercase;
	margin-bottom: 40px;
	border-radius: 20px;
	background: #5A453A;
	padding: 20px;
	color: #fff;
}
}

@media screen and (min-width:320px) and (max-width:425px) {
  
	#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 50vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: fixed;
}

  .title> h1{
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 10px;
	width: 400px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

.title h1 a{
	text-decoration: none;
	color: #fff;
}

.title>h1>a{
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 50px;
	margin-top: 200px;
	width: 400px;
	margin: auto;
}

.title h2{
	width: 425px;
	margin: auto;
	text-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
	font-size: 15px;
}

#about div {
	color: #000;
	font-size: 10px;
	margin: auto;
	font-family: 'Vollkorn', serif;
}

.c1{
	width:415px;
	margin: auto; 
}

.c2{
	width:305px;
	margin: auto; 
}

.c3{
	width:180px;
	margin: auto; 
}

}


@media screen and (min-width:320px) and (max-width:425px) {
  

#about>div {
	color: #000;
	font-size: 20px;
	margin: auto;
	font-family: 'Vollkorn', serif;
}

.c1{
	font-size: 15px;
	width:425px;
	margin: auto; 
}

.c2{
	width:320px;
	margin: auto; 
}

.c3{
	width:220px;
	margin: auto; 
}

#about h1{
	width: 220px;
	margin: auto;
	font-size: 50px;
	margin-top: 10px;
	text-transform: uppercase;
	margin-bottom: 40px;
	border-radius: 20px;
	background: #5A453A;
	padding: 20px;
	color: #fff;
}

}







