@import url('https://fonts.googleapis.com/css?family=Vollkorn');

*{
	font-family: 'Vollkorn', serif;
}

body{
	margin: 0;
	padding: 0;
}

#head{
	margin: 0;
	padding: 0;
	color: #fff;
	text-shadow: 0px 5px 5px #000;
}

#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: -webkit-flex-direction: fixed;
	-moz-flex-direction: fixed;
	-ms-flex-direction: fixed;
	-o-flex-direction: fixed;
	flex-direction: fixed;
}

.title h1{
	font-size: 100px;
	margin-top: 20%;
}

.title h2{
	font-size: 25px;
	margin-bottom: 20%;
}

#logo{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

#content{
	margin: 0;
	padding: 0;
}

#about{
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)), url(img/business-2998905_1920.png);
	background-image: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(img/business-2998905_1920.png);
	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(img/business-2998905_1920.png);
	padding-top: 50px;	
	background-size: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
	padding-bottom: 500px;
}

#about h2{
	font-size: 50px;
}

#about h1{
	font-size: 70px;
}

#about h3{
	font-size: 30px;
	max-width: 700px;
}

@media screen and (min-width:1024px) and (max-width:1440px) {
	#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: fixed;
}

.title h1{
	font-size: 50px;
	margin-top: 20%;
}

.title h2{
	font-size: 15px;
	margin-bottom: 20%;
}
}



@media screen and (min-width:786px) and (max-width:1024px) {
	#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: fixed;
}

.title h1{
	font-size: 50px;
	margin-top: 15%;
}

.title h2{
	font-size: 15px;
	margin-bottom: 15%;
}
}

@media screen and (min-width:425px) and (max-width:768px) {
	#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: fixed;
}

.title h1{
	font-size: 30px;
	margin-top: 15%;
}

.title h2{
	font-size: 10px;
	margin-bottom: 15%;
}
}

@media screen and (min-width:0px) and (max-width:425px) {
	#head{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/bonding-1985863_1920.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	object-fit: cover;
	background-attachment: fixed;
}

.title h1{
	font-size: 15px;
	margin-top: 11%;
}

.title h2{
	font-size: 12px;
	margin-bottom: 11%;
}
}





