*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 1vw;
}

li {
  list-style: none;
  overflow: hidden;
}

.wrapper-page{
  width: 100%;
  height: 100%;
}

body{
  font-family: 'Raleway', sans-serif;
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.d-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

#home{
  width: 100%;
  height: 100vh;
}

.slider {
	width: 100%;
	height: 100vh;
	margin: 0px auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  z-index: -999;
}


.img {
	text-align: center;
	line-height: 300px;
	position: absolute;
	font-size: 50px;
	color: #fff;
	display: none;

}
.img.curry {

	display: block;

}
.img:first-child {

	width: 100%;
  height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BG/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img:nth-child(2) {

	width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BG/6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.img:nth-child(3) {

	width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BG/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.img:nth-child(4) {

	width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BG/10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.img:nth-child(5) {

	width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BG/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.img:nth-child(6) {

	width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/BG/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.n {
	color: #575757;
}

.prev a, .next a {
	text-decoration: none;
	color:#4169E1;
	font-size: 1rem;
  transition: all .4s ease-in;
}

.arrows {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 4;
}

.prev{
  margin: 1rem;
  border-radius: 50%;
  border: 2px solid #4169E1;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  bottom: 10%;
  z-index: 5;
  transition: all .3s ease-in;
}

.next {
  margin: 1rem;
  border-radius: 50%;
  border: 2px solid #4169E1;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  bottom: 10%;
  z-index: 5;
  transition: all .3s ease-in;
}

.prev:hover {
	color: #fff;
  background: #4169E1;
}

.next:hover {
	color: #fff;
  background: #4169E1;
}

.prev:hover a {
	color: #fff;
}

.next:hover a {
	color: #fff;
}

header{
  position: relative;
  color: #d9d9d9;
  width: 100%;
  position: fixed;
  padding: 44px;
  justify-content: space-between;
  z-index: 100;
}

.menu{
  position: relative;
  cursor: pointer;
  z-index: 4;
}

.menu-line{
  width: 3rem;
  height: 2px;
  background-color: #fff;
  cursor: pointer;
  z-index: 4;
}



.menu-line::before{
  content: "";
  position: absolute;
  top: 1.6rem;
  width: 3rem;
  height: 2px;
  background-color: #fff;
  z-index: 4;
}

.menu-line::after{
  content: "";
  position: absolute;
  top: .8rem;
  width: 3rem;
  height: .1rem;
  background-color: #fff;
  z-index: 4;
}

nav a {
  color: #fff;
}

nav {
  background: rgba(0, 0, 0, 0.71);
  z-index: 1;
  width: 80%;
  height: 150vh;
  position: fixed;
  border-radius: 50%;
  right: -50%;
  bottom: 0;
  transition: .5s;
  transform: scale(0) translateY(-50%);
}

.navActive{
  transform: scale(1) translateY(0%);
  transition: .5s;
}

nav ul {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 1.6rem;
}

nav ul li:first-child {
  margin-left: 0px;
}

nav ul li:nth-child(2) {
  margin-left: -0.8rem;
}

nav ul li:nth-child(3) {
  margin-left: 0px;
}

nav ul li:nth-child(4) {
  margin-left: 2.5rem;
}

li {
  position: relative;
  padding: 1rem;
  width: 8rem;
  text-align: center;
  margin: 2.4rem;
}

a::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: .1rem;
  height: .1rem;
  background: rgba(255,255,255, 0.09);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .4s ease-out;
}

li:hover a::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background: rgba(255,255,255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-content{
  width: 80%;
  margin: auto;
  height: 100vh;
  position: relative;
  color: #fff;
}

.left-top-box {
  margin-top: 120px;
}

.left-top-box > h1 {
  font-size: 2rem;
}

.left-top-box > hr {
  width: 30%;
}

.left-top-box > *{
  margin: 1.6rem;
}

.right-bottom-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 10rem;
}

.right-bottom-box__bg {
  z-index: -999;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../img/BG/1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  background-position: center;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}



.right-bottom-box__title{
  width: 30%;
  height: 10rem;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  font-size: 1.2rem ;
}

.right-bottom-box__cards{
  z-index: 5;
  position: relative;
  height: 10rem;
  width: 70%;
  background: #fff;
}

.cards__row1{
  width: 100%;
  height: 5rem;
}

.card1{
  width: 33.3%;
  height: 100%;
  overflow: hidden;
}

.card__img1{
  width: 100%;
  height: 100%;
}


.card1:first-child > .card__img1{
  background: url(../img/BG/1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.card1:nth-child(2) > .card__img1{
  background: url(../img/BG/2.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.card1:nth-child(3) > .card__img1{
  background: url(../img/BG/3.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards__row2{
  width: 100%;
  height: 5rem;
}

.card2{
  width: 33.3%;
  height: 100%;
  overflow: hidden;
}

.card__img2{
  width: 100%;
  height: 100%;
}


.card2:first-child > .card__img2{
  background: url(../img/BG/4.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.card2:nth-child(2) > .card__img2{
  background: url(../img/BG/5.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.card2:nth-child(3) > .card__img2{
  background: url(../img/BG/6.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
